@page {
  margin: 1in;
  size: 8.5in 11in;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10pt;
  line-height: 1.3;

  margin: 0;
  padding: 0;
}

body {
  hyphens: auto;
  text-align: justify;

  margin: 0;
  padding: 0;
}

p,
li {
  orphans: 2;
  widows: 2;
}
